<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<a href="/home">Intro</a></li>
          <a href="/basics">Basis Install</a>
          <a href="/media">Media Install</a>
          <a href="/apple">Apple Install</a>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/alexanderboogaard">github.com/alexanderboogaard</a></li>
				</ul>
			</footer>
		</body>
	</html>
